@section PageStyle
{
    <link href="~/assets/node_modules/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/assets/node_modules/kendoui/styles/kendo.flat.min.css" rel="stylesheet" />
    <link href="~/assets/node_modules/kendoui/styles/kendo.flat.mobile.min.css" rel="stylesheet" />


}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Order</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Order</a></li>
            
            </ol>

          
        </div>
    </div>
</div>

<div id="Grid"></div>


@section PageScript
{
    <script src="~/assets/node_modules/kendoui/js/kendo.all.min.js"></script>
    <script src="~/assets/node_modules/kendoui/js/jszip.min.js"></script>
    <script src="~/Content/page_script/order.js?version=@DateTime.Now"></script>
}


