@section PageStyle
{
    <style>
        .con-area .dbtn a {
            padding: 10px;
            background: #fb9678;
            color: #fff;
            transition: all 0.5s linear;
        }

            .con-area .dbtn a:hover {
                background: #01c0c8 !important
            }

        .con-area p {
            margin-top: 20px;
        }

        .con-area h3 {
            margin-bottom: 20px;
        }

        .con-area a i {
            padding-right: 10px;
        }

        .pres-area iframe .Embed {
            border: 1px solid #01c0c8 !important;
            box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
        }

            .pres-area iframe .Embed:hover {
                border: 1px solid #01c0c8 !important;
            }

        .imgcontainer {
            box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
            transition: all 0.5s linear;
        }

            .imgcontainer:hover {
                box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
                transform: translateY(-1px);
            }

            .imgcontainer .desc button {
                background: #fb9678;
                border: #fb9678;
                transition: all 0.5s linear;
            }

                .imgcontainer .desc button:hover {
                    background: #01c0c8 !important;
                }

            .imgcontainer .desc a {
                color: #fff !important;
            }

            .imgcontainer img {
                width: 100%;
                max-height: 239px;
                border-radius: 10px 10px 0px 0px;
            }

        .desc a i {
            padding-right: 4px;
        }

        .desc {
            background: #fff;
            color: #000;
            padding: 10px 20px;
            border-radius: 0px 0px 10px 10px;
            align-items: center;
            color: #000;
            padding: 10px 8px;
            border-radius: 0px 0px 10px 10px;
            margin: 0px;
        }



        h3 {
            margin-bottom: 0px;
        }

        .desc span {
            font-weight: 500;
        }

        .right ul li {
            margin-bottom: 6px;
        }
    </style>
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Pitch Deck</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Finance </li>
                <li class="breadcrumb-item active">Pitch Deck </li>
            </ol>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card" id="picthDeckContainer">
            <div class="row lazy">

                <div class="col-md-4 mb-3 imgcontainer">
                    <a href="javascript:void(0)" class="jsPitchDeckPage" data-page="1">
                        <img src="~/dist/images/p4.png" alt="banner">
                    </a>
                    <div class="desc row">
                        <div class="col-md-7 col-sm-12 ">
                            <h3>Pitch Deck</h3>
                            <span>Presentation Templates</span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button type="button" class="btn btn-info d-lg-block "><a href="#"><i class="fas fa-download"></i>Download</a></button>

                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-3 imgcontainer">
                    <a href="javascript:void(0)" class="jsPitchDeckPage" data-page="2">
                        <img src="~/dist/images/p5.png" alt="banner">
                    </a>
                    <div class="desc row">
                        <div class="col-md-7 col-sm-12 ">
                            <h3>Pitch Deck</h3>
                            <span>Presentation Templates</span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button type="button" class="btn btn-info  d-lg-block "><a href="#"><i class="fas fa-download"></i>Download</a></button>

                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-3 imgcontainer">
                    <a href="javascript:void(0)" class="jsPitchDeckPage" data-page="3">
                        <img src="~/dist/images/p6.png" alt="banner">
                    </a>
                    <div class="desc row">
                        <div class="col-md-7 col-sm-12 ">
                            <h3>Pitch Deck</h3>
                            <span>Presentation Templates</span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button type="button" class="btn btn-info  d-lg-block "><a href="#"><i class="fas fa-download"></i>Download</a></button>

                        </div>
                    </div>

                </div>

            </div>

            <div class="row lazy">
                <div class="col-md-4 mb-3 imgcontainer">
                    <a href="javascript:void(0)" class="jsPitchDeckPage" data-page="4">
                        <img src="~/dist/images/p7.png" alt="banner">
                    </a>
                    <div class="desc row">
                        <div class="col-md-7 col-sm-12 ">
                            <h3>Pitch Deck</h3>
                            <span>Presentation Templates</span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button type="button" class="btn btn-info d-lg-block "><a href="#"><i class="fas fa-download"></i>Download</a></button>

                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-3 imgcontainer">
                    <a href="javascript:void(0)" class="jsPitchDeckPage" data-page="5">
                        <img src="~/dist/images/p8.png" alt="banner">
                    </a>
                    <div class="desc row">
                        <div class="col-md-7 col-sm-12 ">
                            <h3>Pitch Deck</h3>
                            <span>Presentation Templates</span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button type="button" class="btn btn-info d-lg-block "><a href="#"><i class="fas fa-download"></i>Download</a></button>

                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-3 imgcontainer">
                    <a href="javascript:void(0)" class="jsPitchDeckPage" data-page="6">
                        <img src="~/dist/images/p9.png" alt="banner">
                    </a>
                    <div class="desc row">
                        <div class="col-md-7 col-sm-12 ">
                            <h3>Pitch Deck</h3>
                            <span>Presentation Templates</span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <button type="button" class="btn btn-info d-lg-block "><a href="#"><i class="fas fa-download"></i>Download</a></button>

                        </div>
                    </div>

                </div>
            </div>




        </div>
    </div>
</div>

@section PageScript
{
    <script src="~/assets/node_modules/lazy/lazy.js"></script>
    <script src="~/assets/node_modules/lazy/lazyajx.js"></script>
    <script>
         $(function() {
               $('.lazy').lazy();
         });
        $(".jsPitchDeckPage").on("click", function() {
               $.ajax({
                type: "POST",
                data: {id : $(this).data("page")},
                 url: GetBaseURL() + "Finance/PitchDeckPage",
                dataType: "html",
                success: function (html) {
                   $("#picthDeckContainer").html(html);
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
              var id= $(this).data("page");
             

        });

    </script>
}