@using Business_Model.Model;

<link href="~/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
@section PageStyle
{
    <title>Build My Unicorn - Interview</title>
    <style>
        .inActiveSurvey {
            border-left: 2px solid red !important;
        }
    </style>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor" style="color:#fff">Interview</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Market Research</li>
                <li class="breadcrumb-item">Interview</li>
            </ol>


            <a href="~/Interview/New" class="btn btn-info d-none d-lg-block m-l-15 JsDownloadIdea">Add Interview</a>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Interview", ActionName = "Index", ModuleID = (int)Business_Model.Model.Module.MarketResearch, SectionID = (int)Business_Model.Model.ModuleSection.MarketResearch_Interview }, new { @class = "" })
                        </div>
                    </div>
                </div>
                <section id="jsMainList" data-controller="Interview" data-action="InterviewList"> </section>


            </div>
        </div>
    </div>
</div>
<input type="hidden" id="jsonModuleVideo" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Video))' />
<div id="DialogModuleVideo">
    <iframe id="ModuleVideo" width="100%" height="100%" src="@(ViewBag.Video != null ?  ViewBag.Video.VideoUrl : "")" auto frameborder="0" allowfullscreen></iframe>
</div>
@section PageScript
{
    <script src="~/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <script src="@Url.ContentVersioned("~/page_script/interview.js")"></script>

}
