
<div id="changePasswordModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form id="frmPasswordChange" class="form-horizontal mt-4" method="post">
            
                <input type="hidden" id="ClientID" name="ClientID" value="@ViewBag.Accelerator.StartupAcceleratorID" />

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wint1">Current Password</label>
                                <input class="form-control" type="password" id="CurrentPassword" name="CurrentPassword" placeholder="Enter Current Password" data-parsley-required="true" data-parsley-required-message="Enter current password">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wint1">New Password</label>
                                <input class="form-control" type="password" id="NewPassword" name="NewPassword" placeholder="Enter New Password" data-parsley-required="true" data-parsley-length="[6, 26]" data-parsley-required-message="Enter  new password" data-parsley-length-message="Minimium password length is 6" data-parsley-equalto="#ConfirmPassword" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="wint1">Confirm Password</label>
                                <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" data-parsley-required="true" data-parsley-length="[6, 26]" data-parsley-required-message="Confirm new password" data-parsley-equalto="#NewPassword" data-parsley-equalto-message="New password doen not match" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect text-left jsAddAvtar">Change</button>
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>