@using Business_Model.Model;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildmyunicorn - Admin</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/dist/css/custom-style.css" rel="stylesheet" />
    @*<link href="~/assets/node_modules/sweetalert/dist/sweetalert.css" rel="stylesheet" />*@
    <link href="http://admin.buildmyunicorn.com/assets/node_modules/sweetalert/dist/sweetalert.css" />
   
    <link href="~/assets/node_modules/jquery-confirm/jquery-confirm.css" rel="stylesheet" />
    @RenderSection("PageStyle", required: false)
    <style>
        .tab-content > .tab-pane:not(.active) {
            display: block;
            height: 0;
            overflow-y: hidden;
        }
    </style>
    <style>
        body.skin-default span.dark-text {
            color: #333;
        }
    </style>
</head>

<body class="skin-megna fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">BuildMyUnicorn</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Content/images/logo-lite.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/Content/images/logo-lite.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span style="font-size: 16px;" class="dark-text">
                            <span>BUILDMY</span><span style="font-weight: 700;">UNICORN</span>
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->

                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->



                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-pro">
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img src="~/Content/images/profile-dummy.png" alt="user-img" class="img-circle"><span class="hide-menu">Jhon Doe</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                                @*<li><a href="javascript:void(0)"><i class="ti-wallet"></i> My Balance</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>*@
                                <li><a href="~/Login"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="~/Dashboard"><i class="icon-home"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li id="liPlans">
                            <a class="waves-effect waves-dark" href="~/Plan"><i class="icon-bell"></i><span class="hide-menu">Plan</span></a>
                        </li>

                        <li id="liOrder">
                            <a class="waves-effect waves-dark" href="~/Order"><i class="icon-bell"></i><span class="hide-menu">Order</span></a>
                        </li>
                        <li id="liTransaction">
                            <a class="waves-effect waves-dark" href="~/Transaction"><i class="mdi mdi-help-circle-outline"></i><span class="hide-menu">Transaction</span></a>
                        </li>
                        <li id="liModuleCourse">
                            <a class="waves-effect waves-dark" href="~/ManageModuleCourse"><i class="icon-bell"></i><span class="hide-menu">Module Course</span></a>
                        </li>
                        <li id="liModuleVideo">
                            <a class="waves-effect waves-dark" href="~/ManageModuleVideo"><i class="mdi mdi-video"></i><span class="hide-menu">Module Video</span></a>
                        </li>
                        <li id="liAppendix">
                            <a class="waves-effect waves-dark" href="~/Appnedix"><i class="mdi mdi-help-circle-outline"></i><span class="hide-menu">Appendix</span></a>
                        </li>
                        <li id="liGrants">
                            <a class="waves-effect waves-dark" href="~/ManageGrants"><i class="fas fa-globe"></i><span class="hide-menu">Grants/Tax Relief</span></a>
                        </li>
                        <li id="liLangauage">
                            <a class="waves-effect waves-dark" href="~/ManageLanguage"><i class="fas fa-language"></i><span class="hide-menu">Manage Language</span></a>
                        </li>
                        @*<li>
                                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Apps</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="app-calendar.html">Calendar</a></li>
                                    <li><a href="app-chat.html">Chat app</a></li>
                                    <li><a href="app-ticket.html">Support Ticket</a></li>
                                    <li><a href="app-contact.html">Contact / Employee</a></li>
                                    <li><a href="app-contact2.html">Contact Grid</a></li>
                                    <li><a href="app-contact-detail.html">Contact Detail</a></li>
                                </ul>
                            </li>*@

                        @*<li>
                                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-palette"></i><span class="hide-menu">Client Management</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="ui-cards.html"> Startup Management</a></li>
                                    <li><a href="ui-user-card.html">Technology Management</a></li>
                                    <li><a href="ui-buttons.html"> Selling Management</a></li>
                                    <li><a href="ui-modals.html">Money Raise Management</a></li>

                                </ul>
                            </li>*@
                        <li id="liManagement">
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-align-left"></i><span class="hide-menu">Management</span></a>
                            <ul aria-expanded="false" id="ulManage" class="collapse">


                                <li id="liManage_Supplier">
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Manage Supplier</a>
                                    <ul aria-expanded="false" id="ulManage_Supplier" class="collapse">
                                        <li id="li_Supplier"><a href="/ManageSupplier">Supplier</a></li>
                                        <li id="li_SupplierTree"><a href="/ManageSupplier/Tree">Tree</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Manage Client</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="/ManageClient">Client</a></li>
                                        <li><a href="/ManageClient/Tree">Tree</a></li>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li id="liManageMaster">
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-align-left"></i><span class="hide-menu">Masters</span></a>
                            <ul aria-expanded="false" id="ulManageMasters" class="collapse">


                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">My Idea</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_ProductDemand)">Product Demand</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_InMarketAlready)">InMarket Already</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_IsItScalable)">Scalable</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_EndGoal)">End Goal</a></li>
                                        @*<li id="li_Supplier"><a href="~/ManageMaster/@(OptionType.GeneralTwoOption)">Company Setup</a></li>*@
                                        @*<li id="li_Supplier"><a href="~/ManageMaster/@(OptionType.GeneralTwoOption)">Cofounder</a></li>*@
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_SupportTechnically)">Support Technically</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_BuildIt)">Build From</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_SellingTo)">Sell To</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_PlanSalesStaff)">Sales Staff Plan</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Idea_CostLaunchYourBusiness)">Business Cost</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Startup)">Startup</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Technology)">Technology</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Selling)">Selling</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Charge)">Charge</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MoneyRaise)">Money Rasie</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Business</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.RoleInCompany)">Role in Company</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.CompanyLegalStructure)">Company Legal Structure</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.ProductService_MVPDevelopmentFar)">Development</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.ProductServiceSelling)">Selling</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.ProductServiceProduce)">Produce</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MVPReason)">Reason</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Operation_DeliveryMethod)">Delivery Method</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Operation_ThirdPartiesInvolved)">Third Party</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Operation_PaymentMethod)">Payment Method</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Operation_StaffWork)">Staff Work</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Market Research</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketReserach_InterviewKeyFindingConfident)">Interview Keyfinding Confident</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketReserach_ObservationKeyFindingConfident)">Observation Keyfinding</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketReserach_OnlineResearchKeyFindingConfident)">Online Research Keyfinding</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketReserach_SurveyKeyFindingConfident)">Survey Keyfinding </a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketResearch_FeedBackRate)">Feedback Rate</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketResearch_FeedBack)">Feedback</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketResearch_IdeaProgress)">Idea Progress</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Marketing</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.YourWebsite_Stage)">Website Stahe</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.YourWebsite_Achieve)">website Achieve</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.YourWebsite_Content)">Website Content</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.YourWebsite_Traffic)">Website Traffic</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.YourWebsite_FunctionNecessary)">Website Function</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketingPlan_Goals)">Gols</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.MarketingPlan_AudianceReach)">Audiance Reach</a></li>



                                    </ul>
                                </li>


                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Selling</a>
                                    <ul aria-expanded="false" class="collapse"></ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Finance</a>
                                    <ul aria-expanded="false" class="collapse"></ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Common</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li id="li_Supplier" title="Marketing, Selling"><a href="~/ManageMaster/Manage/@((int)OptionType.BuyerPersona_Age)">Age</a></li>
                                        <li id="li_Supplier" title="Marketing, Selling"><a href="~/ManageMaster/Manage/@((int)OptionType.BuyerPersona_Income)">Income</a></li>
                                        <li id="li_Supplier"><a href="~/ManageMaster/Manage/@((int)OptionType.Gender)">Product Demand</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        @*<li id="liManage">
                                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-palette"></i><span class="hide-menu">Masters</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li id="liManage_Startup"><a href="~/Startup"> Startup</a></li>
                                    <li id="liManage_Technology"><a href="~/Technology">  Technology </a></li>
                                    <li id="liManage_Selling"><a href="~/Selling"> Selling </a></li>
                                    <li id="liManage_MoneyRaise"><a href="~/MoneyRaise"> MoneyRaise </a></li>
                                    <li id="liManage_Worklocation"><a href="~/WorkLocation"> Worklocation </a></li>
                                    <li id="liManage_BusinessPlacement"><a href="~/BusinessPlacement"> Business Placement </a></li>
                                    <li id="liManage_CompanyType"><a href="~/CompanyType"> Company Type </a></li>
                                    <li id="li_IdeaProgress"> <a href="~/ManageMaster/IdeaProgress">Idea Progress</a></li>
                                    <li id="li_Feedback"> <a href="~/ManageMaster/FeedBack">Feedback</a></li>
                                    <li id="li_CompanyLegalStructure"> <a href="~/ManageMaster/CompanyLegalStructure">CompanyLegal Structure</a></li>
                                    <li id="li_ProductServiceProduce"> <a href="~/ManageMaster/ProductServiceProduce">Product Service Produce</a></li>
                                    <li id="li_MVPReson"> <a href="~/ManageMaster/MVPReason">MVP Reason</a></li>
                                    <li id="liManage_RoleAtCompany"> <a href="~/ManageMemberRole">Role At Company</a></li>
                                    <li id="liManageThirdPartyInvolved"> <a href="~/ManageThirdPartyInvolved">Third Party Involved</a></li>
                                    <li id="liManagePaymentMethod"> <a href="~/ManagePaymentMethod">Payment Method</a></li>
                                    <li id="liManagePaymentMethod"> <a href="~/ManageGoals">Marketing Plan Goal</a></li>
                                    <li id="liManageDevelopmentFarGot"> <a href="~/ManageMaster/ManageDevelopment">Development</a></li>

                                </ul>
                            </li>*@
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icons-Add-User"></i><span class="hide-menu">Administration</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/SurveyTemplates"> Survey Templates</a></li>
                                <li><a href="~/EmailTemplates"> Email Templates</a></li>
                                <li><a href="~/Gateway"> Gateway</a></li>
                                <li><a href="~/Startup"> Manage Roles</a></li>
                                <li><a href="~/Technology">Admin Users</a></li>
                                <li><a href="~/Selling"> Client Notifications</a></li>
                                <li><a href="~/MoneyRaise">System Logs</a></li>

                            </ul>
                        </li>



                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                @RenderBody()

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Settings <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme working">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2021 Build My Unicorn
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.min.js"></script>
    <script src="~/Content/page_script/global.js"></script>
    <script src="~/assets/node_modules/parsely/parsley.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<script src="~/assets/node_modules/sweetalert/dist/sweetalert.min.js"></script>*@
    <script src="~/assets/node_modules/jquery-confirm/jquery-confirm.js"></script>
    @RenderSection("PageScript", required: false)
</body>

</html>